/* TODO 09 Define default styles (if any) for your widget. */

/* EXAMPLE
.my-widget-type-text {
  text-length: 20;
}

.my-widget-type-main {
  fill: white;
}

.my-widget-type-shadow {
  fill: #808080;
  x: 5;
  y: 5;
  opacity: 0.5;
}
 */